@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 1300px;
  /* height: 700px; */
  /* background: gray; */
  margin: auto;
}

header{
  background: black;
  height: 100px;
  position: relative;
}

header #logo{
  display: block;
  font-size: 20px;
  text-align: center;
  /* vertical-align: middle; */
  /* justify-content: flex-end, center; */
  position: absolute;
  top: 50%;
  transform: translate(100px,-50%);
}
header #logo h1{
  font-family: 'Satisfy', cursive ;
  color: white;
  padding: 0 5px;
}
header .sign-option{
  display: block;
}
header .sign-option ul{
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0,-50%);
}
header .sign-option ul li{
  display: inline-block;
}
header .sign-option ul li a{
  display: block;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-family: Helvetica;
}
header #s-up{
  border: 2px solid white;
  border-radius: 8px;
}
header #s-up:hover{
  border: 2px solid green;
}

nav{
  width: 1300px;
  height: 50px;
  line-height: 50px;
  background: #F5F5F5;
  margin-bottom: 20px;
}
nav .toolnavgt{
  /* tool navigaton */
  width: 800px;
  /* background: yellow; */
  margin: 0 auto;
  text-align: center;
}
nav .toolnavgt ul li{
  display: inline-flex;
  list-style-type: none;
}

nav .toolnavgt ul li a{
  text-decoration: none;
  padding: 0 10px;
  /* margin:  0 5px; */
  color: black;
  font-family: Helvetica;
  font-size: 14px;
}

nav .toolnavgt ul li a:hover{
  color: #CFCFCF;
  opacity: 2px;
}

.content-main{
  width: 1300px;
  /* background: blue; */

}
.slide-show{

  background: green;
  width: 1000px;
  height: 400px;
  position: relative;
  float: left;
}
.ads{
  text-align: center;
  width: 150px;
  height: 400px;
  /* background: yellow; */
  float: left;
  display: block;
}
.ads1 button{
  border-radius: 50%;
  position: absolute;
  height: 20px;
  width: 20px;
  color: blue;
  border: none;
}
.ads1 .imgAds{
  border-radius: 10px;
}
.clear{
  clear: both;
}
#slideshow img{
}

article .btn{
  position: absolute;
  top: 50%;
  height: 40px;
  width: 30px;
  opacity: 0.5;
}
article .btn-right{
  right: 10px;
}
article .btn-left{
  left: 10px;
}

.grid-product{
  height: 200px;
  width: 1300px;
  /* background: green; */

}

.grid-product .grid-new-product{
  width: 1200px;
  height: 200px;
  background: yellow;
  margin: auto;
}
.grid-product .grid-new-product h2{
  text-align: center;
  background: red;
    margin: 20px 0;
}
footer{
  width: 1300px;
  height: 100px;
  background: black;
  color: white;
  text-align: center;
  line-height: 100px;
border: none;
}
